<div class="row">
	<div class="col s12">
		<h1><%= term %></h1>
		<%- result %>
		</br>

		<% if (similars.length > 0) { %>
			<h2>Artículos similares</h2>
			<ul>
			<% for(var artid in similars) { %>
				<li>
					<a href="#!" onclick="apretaste.send({command: 'DOCTOR ARTICULO', data:{query: '<%= artid %>'}});">
						<%= similars[artid] %> %>
					</a>
				</li>
			<% } %>
			</ul>
		<% } %>
	</div>
</div>

<div class="bottom-space"></div>

<!-- back button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'DOCTOR'})">
		<i class="material-icons">search</i>
	</a>
</div>