<div class="row home">
	<div class="col s12 center-align">
		<span class="main-icon fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x green-text"></i>
			<i class="fas fa-user-nurse fa-stack-1x fa-inverse"></i>
		</span>

		<div class="input-field">
			<input id="query" type="text" maxlength="255" class="validate">
			<label for="query">Escriba un síntoma, medicina o malestar</label>
		</div>
	</div>
</div>

<!-- BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="send()">
		<i class="material-icons">send</i>
	</a>
</div>
