<div class="row">
	<div class="col s12">
		<h1>Bienvenido a la clínica</h1>
		<p>El doctor le ayuda a conocer de síntomas, enfermedades y remedios. Escriba un síntoma, medicina o malestar a continuación y presione el botón de buscar.</p>

		<div class="input-field">
			<input id="query" type="text" maxlength="255" class="validate">
			<label for="query">Escriba un síntoma, medicina o malestar</label>
		</div>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="send()">
		<i class="material-icons">send</i>
	</a>
</div>